header.header
	.header__row
		span.menu-open #[i]
		.header__logo(data-anchor='0')
			img.header__logo--img(src='./img/logo.png', width='135', height='62', alt='')
			span.header__logo--text Нам можно доверять
		.header__cc
			.header__content
				span.header--slogan Продажа #[br] новых автомобилей #[br] с доставкой 24/7
				span.header--find Где сейчас мое авто?
				.header__call
					a.header__call--phone(href='tel:+78002000600') 8 800 2000 600
					span.header__call--text Звонок по России бесплатный
			.nav
				.nav__row
					a(href='javascript:void(0);', data-anchor='1') Заказать авто
					a(href='javascript:void(0);', data-anchor='2') Наши Преимущества
					a(href='javascript:void(0);', data-anchor='3') Отзывы
					a(href='javascript:void(0);', data-anchor='4') Новости
					a(href='javascript:void(0);', data-anchor='5') Галерея
		.header__rc
			button.btn.btn_phone(data-open='call') Заказать звонок