.fade-bg
.menu-m
	span.menu-m--close
	.menu-m__row
		.header__call
			a.header__call--phone(href='tel:+78002000600') 8 800 2000 600
			span.header__call--text Звонок по России бесплатный
		span.header--find Где сейчас мое авто?
		.nav
			.nav__row
				a(href='javascript:void(0);', data-anchor='1') Заказать авто
				a(href='javascript:void(0);', data-anchor='2') Наши Преимущества
				a(href='javascript:void(0);', data-anchor='3') Отзывы
				a(href='javascript:void(0);', data-anchor='4') Новости
				a(href='javascript:void(0);', data-anchor='5') Галерея
.modal(data-target='faq')
	span.modal--close
	span.modal--title Вопросы и ответы
	.faq
		.faq__item
			span.faq--title Ценообразование товара
			.faq__content
				p Согласно условиям расширенной дилерской гарантии Avirra, возврат любого автомобиля с пробегом может быть произведен в течение 1 месяца с момента покупки. Денжежные средства возвращаются покупателю за вычетом эксплуатационных расходов и издержек продавца. Размер вычета определяется с учетом начальной стоимости, срока эксплуатации и технического состояния автомобиля. Возврат осуществляется путем перевода денежных средств на расчетный счет покупателя в течение 5 банковских дней.
				p Список документов, необходимых для оформления возврата автомобиля:
				ul
					li письменное заявление на возврат;
					li договор купли-продажи;
					li паспорт покупателя;
					li паспорт технического средства (ПТС);
					li комплект ключей.
		.faq__item
			span.faq--title Оформление заказа на сайте
			.faq__content
				p Согласно условиям расширенной дилерской гарантии Avirra, возврат любого автомобиля с пробегом может быть произведен в течение 1 месяца с момента покупки. Денжежные средства возвращаются покупателю за вычетом эксплуатационных расходов и издержек продавца. Размер вычета определяется с учетом начальной стоимости, срока эксплуатации и технического состояния автомобиля. Возврат осуществляется путем перевода денежных средств на расчетный счет покупателя в течение 5 банковских дней.
				p Список документов, необходимых для оформления возврата автомобиля:
				ul
					li письменное заявление на возврат;
					li договор купли-продажи;
					li паспорт покупателя;
					li паспорт технического средства (ПТС);
					li комплект ключей.
		.faq__item
			span.faq--title Оплата на сайте
			.faq__content
				p Согласно условиям расширенной дилерской гарантии Avirra, возврат любого автомобиля с пробегом может быть произведен в течение 1 месяца с момента покупки. Денжежные средства возвращаются покупателю за вычетом эксплуатационных расходов и издержек продавца. Размер вычета определяется с учетом начальной стоимости, срока эксплуатации и технического состояния автомобиля. Возврат осуществляется путем перевода денежных средств на расчетный счет покупателя в течение 5 банковских дней.
				p Список документов, необходимых для оформления возврата автомобиля:
				ul
					li письменное заявление на возврат;
					li договор купли-продажи;
					li паспорт покупателя;
					li паспорт технического средства (ПТС);
					li комплект ключей.
		.faq__item
			span.faq--title Возврат денежных средств
			.faq__content
				p Согласно условиям расширенной дилерской гарантии Avirra, возврат любого автомобиля с пробегом может быть произведен в течение 1 месяца с момента покупки. Денжежные средства возвращаются покупателю за вычетом эксплуатационных расходов и издержек продавца. Размер вычета определяется с учетом начальной стоимости, срока эксплуатации и технического состояния автомобиля. Возврат осуществляется путем перевода денежных средств на расчетный счет покупателя в течение 5 банковских дней.
				p Список документов, необходимых для оформления возврата автомобиля:
				ul
					li письменное заявление на возврат;
					li договор купли-продажи;
					li паспорт покупателя;
					li паспорт технического средства (ПТС);
					li комплект ключей.
		.faq__item
			span.faq--title Получение товара и доставка
			.faq__content
				p Согласно условиям расширенной дилерской гарантии Avirra, возврат любого автомобиля с пробегом может быть произведен в течение 1 месяца с момента покупки. Денжежные средства возвращаются покупателю за вычетом эксплуатационных расходов и издержек продавца. Размер вычета определяется с учетом начальной стоимости, срока эксплуатации и технического состояния автомобиля. Возврат осуществляется путем перевода денежных средств на расчетный счет покупателя в течение 5 банковских дней.
				p Список документов, необходимых для оформления возврата автомобиля:
				ul
					li письменное заявление на возврат;
					li договор купли-продажи;
					li паспорт покупателя;
					li паспорт технического средства (ПТС);
					li комплект ключей.
.modal(data-target='call')
	span.modal--close
	span.modal--title Заказать звонок
	.form
		.form__item
			input(type='text', placeholder='Ваше имя')
		.form__item
			input.is-error(type='text', value='+7 999 666-44-99')
			span.form--message.form--message_error Введите верный номер телефона
		.form--agreement
			label #[input(type='checkbox', checked)] Я даю согласие на обработку персональных данных
		button.btn Отправить
.modal(data-target='feedback')
	span.modal--close
	span.modal--title Обратная связь
	.form
		.form__item
			input(type='text', placeholder='Ваше имя')
		.form__item
			input(type='text', placeholder='Телефон')
		.form__item
			input(type='text', placeholder='Электронная почта')
		.form__item
			textarea(rows='10', placeholder='Сообщение')
		.form--agreement
			label #[input(type='checkbox', checked)] Я даю согласие на обработку персональных данных
		button.btn Отправить